* {
  box-sizing: border-box;
}

body {
  /* background-image: url(https://i.ibb.co/BcfgWTH/background.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
}

/* #NiceAndSimple: Main - margin:auto */


a {
  color: #00CED1;
  transition: all 0.2s;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 1;
}

@media screen and (max-width: 770px) {
.index-video{
    transform: translateX(-50%) !important;
  }
.nav-search {
    width: 100% !important;
  }
}

.index-title {
  width: 100%;
  color: #fff;
  position: absolute;
  left: 0;
  top: 25%;
  z-index: 8;
  text-align: center;
}

.index-title h1 {
  font-size: 60px;
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 65px;
  margin-top: 50px;
}

.index-title h2{
  font-size: 40px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: normal;
  margin-bottom: 10px;
}

.index-title div{
  position: relative;
  bottom: calc(-14vh);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.index-title div button {
  background: linear-gradient(45deg, transparent 0%, rgba(5, 217, 245, 0.342) 100%);
  box-shadow: -5px 6px 18px rgb(0 0 0 / 75%);
  /* margin-right: 20px; */
  padding: 15px 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-title div button:hover {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  transition: all 0.5s;
}

.index-title-2 {
  font-size: 30px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #1d202b;
  line-height: 42px;
  letter-spacing: 1px;
}

.cource {
  border-radius: 10px !important;
  transition: all 0.5s;
}

.cource img {
  border-radius: 10px 10px 0 0;
}

.cource:hover {
  transform: translateY(-10px);
  box-shadow: -5px 5px 10px rgb(93 101 110 / 39%);
}

.marketItems:hover {
  box-shadow: 0 .125rem .25rem rgba(93 101 110 / 39%);;
}

.tokenImg {
  width: 10%;
}

.highestBidder {
  white-space: nowrap;
  text-overflow: ellipsis;
}

<<<<<<< HEAD
.indexCllo {
  object-fit: cover;
}

.mainnav {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
=======
.app_p{
  display: inline-block;
  width:150px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  vertical-align: bottom;
>>>>>>> 739291245fcd1ec4276e6fa39217ad82da77a7f2
}